<!DOCTYPE html>
<html>
  <head>
    <title>Update Category</title>
  </head>
  <body>
    <h1>Update Category</h1>
    <form method="POST" action="">
      <input type="text" name="name" value="<%= category.name %>" />
      <button type="submit">Update</button>
    </form>
    <br />
    <a href="/">Back to home</a>
    <form action="delete" method="POST" style="display: inline">
      <button
        style="color: red"
        type="submit"
        onclick="return confirm('Are you sure you want to delete this category? This will also delete all items in this category. This action is permanent.');"
      >
        Delete Category
      </button>
    </form>
  </body>
</html>
